<!doctype html>
<html>
  <head>
    <title>RPSLS Homepage</title>
  </head>
  <body>
    <h1>RPSLS</h1>
    <p>Hi! Welcome to RPSLS. Click one of the following to start the game.</p>
    <div class="update">
      <a id="rock" href="/play/rock">Rock</a><br>
      <a id="paper" href="/play/paper">Paper</a><br>
      <a id="scissors" href="/play/scissors">Scissors</a><br>
      <a id="lizard" href="/play/lizard">Lizard</a><br>
      <a id="spock" href="/play/spock">Spock</a><br>
    </div>

    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <!--<script src="../script.js"></script>-->
    <!--<script src="../router/main.js"></script>-->

    <!--<script>
      (function () {
        $.getJSON('../router/main.js', function (data) {
          $('#update').html(data);
        });
      })();
    </script>-->

  </body>
</html>
