<!-- Inspiration came from:
http://robdodson.me/how-to-use-ejs-in-express/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RPSLS rocks</title>
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body>
    <%=  %>
  </body>
</html>  
